name: Continuous Integration

on:
  push:
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

# Ensure we have permissions to provide our provenance attestation.
permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # the Node.js versions to build on
        node-version: [ lts/-1, lts/* ]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up ${{ matrix.node-version }} environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Lint the project
        run: npm run lint

      - name: Test the project
        run: npm test

      - name: Build the project
        run: npm run build
        env:
          CI: true

  publish:
    name: Publish release to NPM
    needs: build
    runs-on: ubuntu-latest

    # Publish only if we've received a release event and the tag starts with "v" (aka v1.2.3)
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

        # Setup .npmrc file to publish to npm
      - name: Setup the node environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install package
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Publish to NPM
        run: |
          TAG=$(echo $GITHUB_REF_NAME | grep -oP 'v\d+\.\d+\.\d+-?\K(\w+)?')
          echo $TAG
          npm publish --tag ${TAG:-latest} --provenance