name: Continuous Integration

on:
  push:
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # the Node.js versions to build on
        node-version: [ lts/-1, lts/* ]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up ${{ matrix.node-version }} environment
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Lint the project
        run: npm run lint

      - name: Build the project
        run: npm run build
        env:
          CI: true

  publish:
    name: Publish release to NPM
    needs: build
    runs-on: ubuntu-latest

    # Publish only if we've received a release event and the tag starts with "v" (aka v1.2.3)
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags/v')

    # Ensure we have permissions to provide our provenance attestation.
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

        # Setup .npmrc file to publish to npm
      - name: Setup the node environment
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: lts/-1
          registry-url: 'https://registry.npmjs.org'

      - name: Install package
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Publish to NPM
        run: |
          TAG=$(echo $GITHUB_REF_NAME | grep -oP 'v\d+\.\d+\.\d+-?\K(\w+)?')
          echo $TAG
          npm publish --tag ${TAG:-latest} --provenance