---
name: "Release"

on:
  push:
    # run only against tags
    tags:
      - "*"
jobs:
  release:

    # disable this job for now. will use manual releases.
    if: false

    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Create Release
        shell: bash
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          # Create release
          gh release create "${{  github.ref_name }}" \
              --repo="${GITHUB_REPOSITORY}" \
              --title="${{  github.ref_name }}" \
              --generate-notes
