---
name: "Release"

on:
  push:
    # run only against tags
    tags:
      - "*"
jobs:
  release:

    # disable this job for now. will use manual releases.
    if: false

    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Create Release
        shell: bash
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          # Create release
          gh release create "${{  github.ref_name }}" \
              --repo="${GITHUB_REPOSITORY}" \
              --title="${{  github.ref_name }}" \
              --generate-notes
